@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;300;400;500;700;900&display=swap');
body *{
    box-sizing: border-box;
    font-family: 'Manrope','Noto Sans TC', sans-serif;
    --small_title_color:#e1b44f;
}
h2{
    font-size: 3rem;
    color: #1a1a1a;
    font-weight: 700;
    
}
h3 {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 600;
    
    }
a{
    text-decoration: none;
    color: #74787c;
    transition: opacity 0.3s;
}
.contact{
    background: transparent url("pic/slider3.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
    /* color: #FFF; */
    box-sizing: border-box;
    height: 400px;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    color: #fff;
}
.contact .container .wraps h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 55px;
    font-weight: 600;
    line-height: 7;
}
.contact .container .wraps{
    position: relative;
    
}
.contact .container .wraps span{
    display: inline-block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 1.5rem;
}

/*  */
.small_title{
    font-weight:600;
    color: var(--small_title_color);
    position: relative;
    /* padding-left: 50px; */
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    /* padding-top: 100px; */

}
.small_title::before{
    /* position: absolute; */
    display: inline-block;
    content: "";
    width: 40px;
    height: 3px;
    /* background: #E1B44F; */
    left: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    /* top: 50%; */
    background-color: var(--small_title_color);
}
.about{
    background: #f7f7f7;
}
.about .txt .txt_top{
    padding-top: 30px; ;
}
.about_pic img{
    width: 100%;
}
.about .txt .txt_top p{
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 10px;
}

.about .txt_list .txt_list_item{
    padding: 10px;
}
.history .history_wrap .btn_history{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 40px 20px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url(./pic/blog1.jpg) transparent;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    color: #fff; 
    text-transform: uppercase;
    border-radius: 10px;
}
.history .history_wrap .btn_history:active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, .93);
    transition: 0.5s;
    z-index: -1;
    border-radius: 10px;
}
.history .btn_history:hover {
    font-size: 1.5rem;
    font-weight: 600;
    
    animation:animate__fadeInLeftBig ;
    animation-duration: 2s;
    background-position: top;
    padding-right: 60px;
}
.history_txt h4{
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
    line-height: 1.4;
    
}
.history_txt p{
    font-size: 1rem;
    padding: 20px;
    line-height: 1.5;
}
/* team card */
.team{
    
    background-color: #f7f7f7;
}
.team .container{
    padding-bottom: 100px;
}
.team .team_img img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.team .team_info{
    background: #fff;
    text-align: center;
    padding: 40px 15px 25px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}
.team .team_social ul{
    margin-top: -60px;
}
.team .team_social ul li{
    display: inline-block;
    
}
.team_social ul li a {
    background: #e1b44f;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    font-size: 1rem;
}
@keyframes pulsePrimary {
	0% {
		box-shadow: 0 0 0 0 cornflowerblue;
	}
	40% {
		box-shadow: 0 0 0 50px rgba(255, 26, 67, 0);
	}
	80% {
		box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
	}
	100% {
		box-shadow: 0 0 0 rgba(255, 206, 67, 0);
	}
}
.team_social ul li:hover a {
    background: #fff;
    color: #e1b44f;
    -webkit-animation: pulsePrimary 2s 1 ease-in-out;
    animation: pulsePrimary 2s 1 ease-in-out;
}
.team_info h4 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    line-height: 1.2; 
    font-weight: 700;
    padding: 10px;
}
.team .team_card:hover{
    transition: .3s;
    position: relative;
    transform: translateY(-10px);
}




@media screen and (max-width:767px){
    .about{
        padding: 30px 0;
    }
}
@media screen and (min-width:768px){
    .team{
        background: url(./pic/team_bg.jpg);
    }
    .about,.team{
        padding-top: 60px;
        margin-bottom: 40px;
    }
    .history{
        margin-bottom: 40px;
    }
    
}

#scrollUp {
    background-image: url("./pic/cow.png");
    bottom: 20px;
    background-color:#e1b44f;
    right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}